# Ignore the virtual environment folder
/cypherguardvenv/

# Ignore the README file
README

# Python specific
/__pycache__/
/encryption_algorithms/__pycache__/

# PyInstaller
/CypherGuard.spec
/dist/
/build/
/*.exe
/*.spec
/*.zip
/*.tar.gz